@charset "utf-8";
/* CSS Document */
body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;

	/* BG */
	background-repeat:no-repeat;
	background: #8b8e1d; 																					
}
form, td{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
a:link, a:visited, a:active{
	color:#FFF;
	text-decoration:none;
}
a:hover{
	color:#FFF;
	text-decoration:underline;
}

/*#navigationMenu span a:link, a:visited, a:active{
	color:#999;
	text-decoration:none;
}*/

#navigationMenu span a:hover{
	color:#FFF;
	text-decoration:none;
	border-bottom:#FFF solid 1px;
}
#navigationMenu li{
	display: block;
	list-style:none;
	height:95px;
	padding:2px;
	width:40px;
}

#navigationMenu span{
	width:0px;
	left:0px;
	padding:0px;
	position:absolute;
	overflow:hidden;

	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:65px;
	
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	
}

#navigationMenu .menu{
	background:url(afb/menu-tooltip.png) no-repeat;
	background-size:170px 95px;
	height:95px; 
	width:170px;
	display:block;
	position:relative;
}

#navigationMenu .menu:hover span{ 
	 
	padding:10px 20px 20px 20px;
	overflow:visible; 
	width:610px;
	height:55px;
}
#navigationMenu .menu:hover{
	text-decoration:none;
}
#navigationMenu .menu span{
	background-image:url(afb/full-menu.png);
	background-repeat:no-repeat;
	background-size:610px 95px;
	color:#FFF;
}
#navigationMenu #inhoudmenu ul{
	list-style-type: none;
	
}
#navigationMenu #inhoudmenu li{
	margin: 10px 0px 10px 10px;
	display: inline;

}
input[type=text], input[type=password], input[type=email], textarea{
	width:370px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
.error{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#F00;
	font-weight:bold;
	text-decoration:overline underline;
}
.succes{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#090;
	font-weight:bold;
	text-decoration:overline underline;
}
.pic{
	width:auto;
	border:2px #fff solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px 5px 5px 5px;
}
section #navigationMenu{
	padding:0px;
	font-size:18px;
}
header{
	width:210px;
	height:auto;
	margin-bottom:50px;
	

}
.center{
	text-align:center;
}
#tekst{
	padding: 20px 20px 20px 20px;
}
#banner{
	padding: 30px 20px 20px 20px;
	margin-left:auto;
	margin-right:auto;
}
#boxhouder{
	margin-left:5px;
	height:auto;
	width:auto;
	float:left;
	 
}
.leftbox{
	margin-top:2%;
	width:auto;
	min-height:10px;

	
}

#calender a{
	color:#000;
}