@charset "utf-8";
/* CSS Document */

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;
	background: #7e8119; 																					/* voor niet-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e8119', endColorstr='#8b8e1d'); 	/* voor IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#7e8119), to(#8b8e1d)); 				/* voor webkit browsers */
	background: -moz-linear-gradient(top,  #7e8119,  #8b8e1d); 												/* voor firefox 3.6+ */
}
/* http://www.fontsquirrel.com/fontface/generator */
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('/fonts/websymbols-regular-webfont.eot');
    src: url('/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/websymbols-regular-webfont.woff') format('woff'),
         url('/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    
}
form, td{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
input[type=text], input[type=password], input[type=email], textarea{
	width:370px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
.error{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#F00;
	font-weight:bold;
	text-decoration:overline underline;
}
.succes{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#0C3;
	font-weight:bold;
	text-decoration:overline underline;
}
.pic{
	width:auto;
	border:2px #fff solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px 5px 5px 5px;
}
section #navigationMenu{
	padding:0px;
	font-size:18px;
}
header{
	width:210px;
	height:auto;
	margin-bottom:50px;

}
.center{
	text-align:center;
}
#tekst{
	padding: 20px 20px 20px 20px;
}
#banner{
	padding: 30px 20px 20px 20px;
	margin-left:auto;
	margin-right:auto;
}
#boxhouder{
	height:auto;
	width:auto;
	float:left;
}
.leftbox{
	margin-top:2%;
	width:auto;
	min-height:10px;	
	
}
#navigationMenu li{
	display: block;
	list-style:none;
	height:95px;
	padding:2px;
	width:40px;
}

#navigationMenu span{
	width:0px;
	left:0px;
	padding:0px;
	position:absolute;
	overflow:hidden;

	
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:65px;
	
	
	
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition:0.25s;
	-ms-transition:0.25s;
	transition: 0.25s;
}

#navigationMenu .menu{
	background:url(afb/menu-tooltip.png) no-repeat;
	background-size:170px 95px;
	height:95px;
	width:170px;
	display:block;
	position:relative;
}

#navigationMenu .menu:hover span{ 
	width:auto; 
	padding:10px 20px 20px 20px;
	overflow:visible; 
	width:610px;
	height:55px;
}
#navigationMenu .menu:hover{
	text-decoration:none;
}
#navigationMenu .menu span{
	background-image:url(afb/full-menu.png);
	background-repeat:no-repeat;
	background-size:610px 95px;
	color:#FFF;
}
#navigationMenu #inhoudmenu ul{
	list-style-type: none;
}
#navigationMenu #inhoudmenu li{
	display: block;
	border:#306 solid 2px;
}
#calender a{
	color:#000;
}