/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

#admin-bar div, #admin-bar span, #admin-bar applet, #admin-bar object, #admin-bar iframe, #admin-bar h1, #admin-bar h2, #admin-bar h3, #admin-bar h4, #admin-bar h5, #admin-bar h6, #admin-bar p, #admin-bar blockquote, #admin-bar pre, #admin-bar a, #admin-bar abbr, #admin-bar acronym, #admin-bar address, #admin-bar big, #admin-bar cite, #admin-bar code, #admin-bar del, #admin-bar dfn, #admin-bar em, #admin-bar img, #admin-bar ins, #admin-bar kbd, #admin-bar q, #admin-bar s, #admin-bar samp, #admin-bar small, #admin-bar strike, #admin-bar strong, #admin-bar sub, #admin-bar sup, #admin-bar tt, #admin-bar var, #admin-bar b, #admin-bar u, #admin-bar i, #admin-bar center, #admin-bar dl, #admin-bar dt, #admin-bar dd, #admin-bar ol, #admin-bar ul, #admin-bar li, #admin-bar fieldset, #admin-bar form, #admin-bar label, #admin-bar legend, #admin-bar table, #admin-bar caption, #admin-bar tbody, #admin-bar tfoot, #admin-bar thead, #admin-bar tr, #admin-bar th, #admin-bar td, #admin-bar article, #admin-bar aside, #admin-bar canvas, #admin-bar details, #admin-bar embed, #admin-bar figure, #admin-bar figcaption, #admin-bar footer, #admin-bar header, #admin-bar hgroup, #admin-bar menu, #admin-bar nav, #admin-bar output, #admin-bar ruby, #admin-bar section, #admin-bar summary, #admin-bar time, #admin-bar mark, #admin-bar audio, #admin-bar video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
#admin-bar article, #admin-bar aside, #admin-bar details, #admin-bar figcaption, #admin-bar figure, #admin-bar footer, #admin-bar header, #admin-bar hgroup, #admin-bar menu, #admin-bar nav, #admin-bar section {
	display: block;
}
#admin-bar ol, #admin-bar ul {
	list-style: none;
}
/* http://www.fontsquirrel.com/fontface/generator */
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('/fonts/websymbols-regular-webfont.eot');
    src: url('/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/websymbols-regular-webfont.woff') format('woff'),
         url('/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
	font-weight:bold;
    
}
/*first, deal with the main body*/
#admin-bar {
	min-height: 50px;
	padding: 0 0 20px 0;
	width: 100%;
	background: #222222; /* for IE*/
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0px;
	left: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #ffffff;
	line-height: 28px;
	
	-webkit-box-shadow: 0px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.6);	
	}
	
#admin-bar a {	
	color: #585858;
	text-decoration: none;
	}
	
#admin-bar a:hover {	
	color: #d9d9d9;
	}	
	
#admin-bar .welcome {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	}	
	
#admin-bar .welcome a {
	font-family: Arial, sans-serif;
	font-style: normal;
	padding: 0 0 0 5px;
	}	
	
#admin-bar .icon a {
	font-family: 'WebSymbolsRegular';
	}
	
/*button styling*/		
#admin-bar ul {
	float: left;
	margin: 20px 0 0 20px;	
	}
		
#admin-bar ul li {
	display: inline;
	float: left;
	position: relative; /* for menu*/
	}
	
#admin-bar ul.controls li a {
	display: inline-block;
	padding: 0 10px;
	height: 28px;
	min-width: 10px;
	border: 1px solid #585858;
	border-right-width: 0px;
	background: #191919;
	text-align: center;
	position: relative; /*for notification*/
	}	
	
#admin-bar .controls li:first-child a {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
	}
	
#admin-bar .controls li:last-child a {
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
    border-right-width: 1px;
	}	

#admin-bar .controls li:only-child a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    border-radius: 3px;
	}
	
#admin-bar .controls li a:hover {
	border: 1px solid #b5b5b5;
	padding-right: 9px;
	
	-webkit-box-shadow: 0px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.6);         
	}
	
#admin-bar .controls li:last-child a:hover {
	padding-right: 10px;
	}	

#admin-bar .notice {
	position: absolute;
	top: -14px;
	right: 5px;
	padding: 0 5px;
	height: 17px;
	line-height: 17px;
	font-size: 10px;
	font-weight: bold;
	color: #292929;
	
	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
   	border-radius: 2px;
   	
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
   	
	}
	
#admin-bar .controls li a:hover .notice {
	top: -16px;
	}	
		
#admin-bar .controls li .priority {
	border: 1px solid #f9d944;
	
	background-color: #fff4c0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff4c0), to(#f9d944));
	background-image: -webkit-linear-gradient(top, #fff4c0, #f9d944);
	background-image: -moz-linear-gradient(top, #fff4c0, #f9d944);
	background-image: -o-linear-gradient(top, #fff4c0, #f9d944);
	background-image: -ms-linear-gradient(top, #fff4c0, #f9d944);
	background-image: linear-gradient(top, #fff4c0, #f9d944);
	}	
	
#admin-bar .controls li .priority:hover {
	color: #292929;
	border: 1px solid #f9d944;
	}
	
/*menu */
#admin-bar .controls li.more > a {
	padding-right: 20px;
	position: relative; 
	}
	
#admin-bar .controls li.more > a:hover {
	padding-right: 19px;
	}	
	
#admin-bar .controls li.more > a::after {
	font-family: 'WebSymbolsRegular';
	content: "{";
	position: absolute;
	right: 7px;
	top: 0px;
	line-height: 28px;
	}	
	
#admin-bar ul.controls li.more ul {
	background: #ffffff;
	position: absolute;
	left: 9999px;
	opacity: 0; /*allows us to fade it in subtly if supported*/
	filter:Alpha(opacity=0); /* IE8 and earlier */
	
	margin: 0px;
	padding: 5px;
	
	z-index: 999;
	
	-webkit-box-shadow: 0px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.3);	
    
	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	-o-transition: opacity 0.4s ease-out;
	-ms-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;
    
    }

#admin-bar .controls li.more:hover ul{ /* display menu */
	left: 0px;
	opacity: 1; /*allows us to fade it in subtly if supported*/
	filter:Alpha(opacity=100); /* IE8 and earlier */
	}
	
#admin-bar .controls li.more:hover a { /*  persistent hover state for a within more li */
	border: 1px solid #b5b5b5;
	padding-right: 19px;
	color: #d9d9d9;
}	 

#admin-bar .controls li.more:hover ul a { /* undo persistent hover state for menu items. */
	background: transparent;
	border: none;
	color: #999999;
	padding: 0 5px;
	display: block;
	text-align: left;
}
    
#admin-bar .controls li.more ul li{
	float:none;
	display: list-item;
	}
	
#admin-bar .controls li.more ul a {
	white-space: nowrap;
	background: transparent; /*reset all the styles previously applied to the li and a elements*/
	border: none;
	padding: 0 5px;
}  

#admin-bar .controls li.more:hover ul li a:hover {
	background: #fff5c4;
	color: #494949;
	
	-webkit-box-shadow: none; /*get rid of all these styles we'd also previously set*/
    -moz-box-shadow: none ;
    box-shadow: none;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
    border-radius: 0px;	
	}
#admin-bar .menu-item{
	font-size:12px;
}
	
/*tooltips*/
#admin-bar .controls li.icon a::before {
	content: attr(data-tip);

	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	
	position: absolute;
	left: 50%;
	bottom: 200px;
	
	background: #000;
	color: #e0e0e0;
	padding: 0 7px;
	line-height: 24px;
	height: 24px;
	
	white-space: nowrap;
	
	opacity: 0;
	filter:Alpha(opacity=0); /* IE8 and earlier */
	
	-webkit-transition:opacity 0.4s ease-out;  
   	-moz-transition:opacity 0.4s ease-out;  
   	-o-transition:opacity 0.4s ease-out;  
   	transition:opacity 0.4s ease-out; 
	}
	
#admin-bar .controls li.icon a:hover::before {
	opacity: 1;
	filter:Alpha(opacity=100); /* IE8 and earlier */
	
	bottom: -35px;
	}	
	
#admin-bar .controls li.icon a span::before {
	content: "";
	display: block;
	border-left: 6px solid #000;
	border-top: 6px solid transparent;
	position: absolute;
	top: -6px;
	left: 0px;
	}